src/test/resources/xiobj/AllInOne.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:p2="http://sap.com/xi/ib/prefix">
    <xs:import namespace="http://sap.com/xi/ib/prefix" schemaLocation="NSM.xsd"/>
    <xs:element name="AllInOne">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="SenderConnectivity"/>
                <xs:element ref="NamespaceMapping"/>
                <!-- Есть икохи где нет NoReceiverBehaviour -->
                <xs:element ref="NoReceiverBehaviour" minOccurs="0"/>
                <xs:element ref="ReceiverConfigurations"/>
                <xs:element ref="ReceiverAssignmentList"/>
                <xs:element ref="ReceiverConnectivityList"/>
                <xs:element ref="Conditions"/>
                <xs:element ref="ScenarioConfiguration"/>
            </xs:sequence>
            <xs:attribute name="version" use="required" type="xs:integer"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="SenderConnectivity">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ValidationMode"/>
                <xs:element ref="VirusScanMode"/>
                <xs:element ref="AllInOneAttributes"/>
                <xs:element ref="Users"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Users">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="Name"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="NamespaceMapping">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="p2:NSM"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="definition">
        <xs:complexType>
            <xs:attribute name="prefix" use="required" type="xs:NCName"/>
            <xs:attribute name="uri" use="required" type="xs:NMTOKEN"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="NoReceiverBehaviour">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="IfNoReceiverFound"/>
                <xs:element ref="DefaultReceiverId"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="IfNoReceiverFound" type="xs:integer"/>
    <xs:element name="DefaultReceiverId" type="xs:string"/>
    <xs:element name="ReceiverConfigurations">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ReceiverConfiguration"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ReceiverConfiguration">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="ReceiverId">
                    <xs:sequence>
                        <xs:element ref="Receiver"/>
                        <xs:element ref="QualityOfService"/>
                        <xs:element ref="InterfaceDeterminations"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Receiver">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="PartyExtractor"/>
                <xs:element ref="PartyAgencyExtractor"/>
                <xs:element ref="PartySchemaExtractor"/>
                <xs:element ref="ServiceExtractor"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PartyExtractor" type="TRD_EXTRACTOR"/>
    <xs:element name="PartyAgencyExtractor" type="TRD_EXTRACTOR"/>
    <xs:element name="PartySchemaExtractor" type="TRD_EXTRACTOR"/>
    <xs:element name="ServiceExtractor" type="TRD_EXTRACTOR"/>
    <xs:element name="QualityOfService" type="xs:NCName"/>
    <xs:element name="InterfaceDeterminations">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="InterfaceDetermination"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="InterfaceDetermination">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="InterfaceConditionId"/>
                <xs:element ref="Interfaces"/>
                <xs:element ref="Counter"/>
                <xs:element ref="Operation"/>
                <xs:element ref="MappingRequired"/>
                <xs:element minOccurs="0" ref="Condition"/>
                <xs:element ref="Binding"/>
                <xs:element ref="SplitItems"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="InterfaceConditionId" type="xs:string"/>
    <xs:element name="Interfaces">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Interface"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Interface">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="InterfaceName"/>
                <xs:element ref="InterfaceNamespace"/>
                <xs:element ref="ReceiverConnectivityId"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="InterfaceName" type="xs:NCName"/>
    <xs:element name="InterfaceNamespace" type="xs:NMTOKEN"/>
    <xs:element name="Counter" type="xs:integer"/>
    <xs:element name="Operation" type="xs:NCName"/>
    <xs:element name="MappingRequired" type="xs:integer"/>
    <xs:element name="Condition">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="RDS_CONDSHORT"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Binding">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="properties"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="properties">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="property"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="property">
        <xs:complexType mixed="true">
            <xs:attribute name="counter" use="required" type="xs:integer"/>
            <xs:attribute name="direction" use="required"/>
            <xs:attribute name="guid" use="required"/>
            <xs:attribute name="id" use="required" type="xs:integer"/>
            <xs:attribute name="name" use="required" type="xs:NCName"/>
            <xs:attribute name="parentguid" use="required"/>
            <xs:attribute name="type" use="required" type="xs:NCName"/>
            <xs:attribute name="valueType" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="SplitItems">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="SplitItem"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SplitItem">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="SplitCounter"/>
                <xs:element ref="Multiplicity"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SplitCounter" type="xs:integer"/>
    <xs:element name="Multiplicity">
        <xs:complexType/>
    </xs:element>
    <xs:element name="ReceiverAssignmentList">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ReceiverAssignment"/>
            </xs:sequence>
            <xs:attribute name="mode" use="required" type="xs:NCName"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="ReceiverAssignment">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="ReceiverConditionId"/>
                <xs:element ref="ReceiverIds"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ReceiverConditionId" type="xs:string"/>
    <xs:element name="ReceiverIds" type="ReceiverId"/>
    <xs:element name="ReceiverConnectivityList">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="ReceiverConnectivity"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ReceiverConnectivity">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ReceiverConnectivityId"/>
                <xs:element ref="ValidationMode"/>
                <xs:element ref="VirusScanMode"/>
                <xs:element ref="AllInOneAttributes"/>
                <xs:element minOccurs="0" ref="HeaderMapping"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="HeaderMapping">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="FieldMapping"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="FieldMapping">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="Field"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Field">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Name"/>
                <xs:element ref="Extractor"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Extractor">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ExtractorId"/>
                <xs:element ref="ExtractorData"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ExtractorId" type="xs:string"/>
    <xs:element name="ExtractorData" type="TRD_EXTRACTOR"/>
    <xs:element name="Conditions">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="RDS_CONDSHORT"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ScenarioConfiguration">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Parameters"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Parameters">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="Parameter"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Parameter">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="UseGlobal"/>
                <xs:element ref="Name"/>
                <xs:element ref="Value"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UseGlobal" type="xs:boolean"/>
    <xs:element name="ValidationMode" type="xs:integer"/>
    <xs:element name="VirusScanMode" type="xs:NCName"/>
    <xs:element name="AllInOneAttributes">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="AdapterTypeData"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AdapterTypeData">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Attribute"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Attribute">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Name"/>
                <xs:element ref="Namespace"/>
                <xs:element ref="Value"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Namespace">
        <xs:complexType/>
    </xs:element>
    <xs:element name="Name" type="xs:NMTOKEN"/>
    <xs:complexType name="ReceiverId">
        <xs:sequence>
            <xs:element ref="ReceiverId"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ReceiverId" type="xs:string"/>
    <xs:complexType name="TRD_EXTRACTOR">
        <xs:sequence>
            <xs:element ref="TRD_EXTRACTOR"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="TRD_EXTRACTOR">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="EXTRACTORID"/>
                <xs:element ref="TYPE"/>
                <xs:element ref="VALUE"/>
                <xs:element ref="DATATYPE"/>
                <xs:element ref="MULTLINE"/>
                <xs:element ref="COBJNS"/>
                <xs:element ref="COBJNAME"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="EXTRACTORID" type="xs:string"/>
    <xs:element name="TYPE" type="xs:NCName"/>
    <xs:element name="VALUE" type="xs:anyURI"/>
    <xs:element name="DATATYPE" type="xs:NMTOKEN"/>
    <xs:element name="MULTLINE" type="xs:string"/>
    <xs:element name="COBJNS" type="xs:anyURI"/>
    <xs:element name="COBJNAME" type="xs:string"/>
    <xs:element name="ReceiverConnectivityId" type="xs:string"/>
    <xs:element name="RDS_CONDSHORT">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CONDITIONID"/>
                <xs:element maxOccurs="unbounded" ref="CONDLINE"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CONDITIONID" type="xs:string"/>
    <xs:element name="CONDLINE">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="COMPGROUP"/>
                <xs:element ref="COUNTER"/>
                <xs:element ref="COMPOP"/>
                <xs:element ref="LEXTRACTOR"/>
                <xs:element ref="REXTRACTOR"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="COMPGROUP" type="xs:integer"/>
    <xs:element name="COUNTER" type="xs:integer"/>
    <xs:element name="COMPOP" type="xs:NCName"/>
    <xs:element name="LEXTRACTOR" type="TRD_EXTRACTOR"/>
    <xs:element name="REXTRACTOR" type="TRD_EXTRACTOR"/>
    <xs:element name="Value" type="xs:string"/>
</xs:schema>
