src/main/resources/io.rsug.zatupka.xsd/AllInOne.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:p2="http://sap.com/xi/ib/prefix">
  <xs:import namespace="http://sap.com/xi/ib/prefix" schemaLocation="NSM.xsd"/>
  <xs:element name="AllInOne">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="SenderConnectivity"/>
        <xs:element ref="NamespaceMapping"/>
        <xs:element minOccurs="0" ref="NoReceiverBehaviour"/>
        <xs:element ref="ReceiverConfigurations"/>
        <xs:element minOccurs="0" ref="ReceiverAssignmentList"/>
        <xs:element minOccurs="0" ref="DynamicalRouting"/>
        <xs:element ref="ReceiverConnectivityList"/>
        <xs:element ref="Conditions"/>
        <xs:element minOccurs="0" ref="ScenarioConfiguration"/>
      </xs:sequence>
      <xs:attribute name="version" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SenderConnectivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ValidationMode"/>
        <xs:element minOccurs="0" ref="VirusScanMode"/>
        <xs:element ref="AllInOneAttributes"/>
        <xs:element minOccurs="0" ref="Users"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Users">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Name"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NamespaceMapping">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="p2:NSM"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="definition">
    <xs:complexType>
      <xs:attribute name="prefix" use="required" type="xs:NCName"/>
      <xs:attribute name="uri" use="required" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="NoReceiverBehaviour">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="IfNoReceiverFound"/>
        <xs:element minOccurs="0" ref="DefaultReceiverId"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IfNoReceiverFound" type="xs:integer"/>
  <xs:element name="DefaultReceiverId" type="xs:string"/>
  <xs:element name="ReceiverConfigurations">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ReceiverConfiguration"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiverConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ReceiverId"/>
        <xs:element ref="Receiver"/>
        <xs:element minOccurs="0" ref="QualityOfService"/>
        <xs:element ref="InterfaceDeterminations"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Receiver">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PartyExtractor"/>
        <xs:element ref="PartyAgencyExtractor"/>
        <xs:element ref="PartySchemaExtractor"/>
        <xs:element ref="ServiceExtractor"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PartyExtractor" type="TRD_EXTRACTOR"/>
  <xs:element name="PartyAgencyExtractor" type="TRD_EXTRACTOR"/>
  <xs:element name="PartySchemaExtractor" type="TRD_EXTRACTOR"/>
  <xs:element name="ServiceExtractor" type="TRD_EXTRACTOR"/>
  <xs:element name="QualityOfService" type="xs:NCName"/>
  <xs:element name="InterfaceDeterminations">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="InterfaceDetermination"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InterfaceDetermination">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="ReceiverConnectivityId"/>
          <xs:sequence>
            <xs:element ref="InterfaceConditionId"/>
            <xs:element ref="Interfaces"/>
          </xs:sequence>
        </xs:choice>
        <xs:element ref="Counter"/>
        <xs:element ref="Operation"/>
        <xs:element ref="MappingRequired"/>
        <xs:choice minOccurs="0">
          <xs:element ref="Binding"/>
          <xs:element ref="Condition"/>
        </xs:choice>
        <xs:element ref="SplitItems"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InterfaceConditionId" type="xs:string"/>
  <xs:element name="Interfaces">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Interface"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Interface">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="InterfaceName"/>
        <xs:element ref="InterfaceNamespace"/>
        <xs:element ref="ReceiverConnectivityId"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InterfaceName" type="xs:NCName"/>
  <xs:element name="InterfaceNamespace" type="xs:anyURI"/>
  <xs:element name="Counter" type="xs:integer"/>
  <xs:element name="Operation" type="xs:NCName"/>
  <xs:element name="MappingRequired" type="xs:integer"/>
  <xs:element name="Binding">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="properties"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="properties">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="property"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="property">
    <xs:complexType mixed="true">
      <xs:attribute name="counter" use="required" type="xs:integer"/>
      <xs:attribute name="direction" use="required"/>
      <xs:attribute name="guid" use="required"/>
      <xs:attribute name="id" use="required" type="xs:integer"/>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
      <xs:attribute name="parentguid" use="required"/>
      <xs:attribute name="type" use="required" type="xs:NCName"/>
      <xs:attribute name="valueType" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Condition">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="RDS_CONDSHORT"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SplitItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="SplitItem"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SplitItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="SplitCounter"/>
        <xs:element ref="Multiplicity"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SplitCounter" type="xs:integer"/>
  <xs:element name="Multiplicity" type="xs:string"/>
  <xs:element name="ReceiverAssignmentList">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ReceiverAssignment"/>
      </xs:sequence>
      <xs:attribute name="mode" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiverAssignment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ReceiverConditionId"/>
        <xs:element ref="ReceiverIds"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiverConditionId" type="xs:string"/>
  <xs:element name="ReceiverIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ReceiverId"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DynamicalRouting">
    <xs:complexType>
      <xs:attribute name="counter" use="required" type="xs:integer"/>
      <xs:attribute name="isOpSpecific" use="required" type="xs:boolean"/>
      <xs:attribute name="version" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiverConnectivityList">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ReceiverConnectivity"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiverConnectivity">
    <xs:complexType>
      <xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:element ref="ReceiverConnectivityId"/>
          <xs:element ref="ValidationMode"/>
        </xs:sequence>
        <xs:element minOccurs="0" ref="VirusScanMode"/>
        <xs:element minOccurs="0" ref="AllInOneAttributes"/>
        <xs:element minOccurs="0" ref="HeaderMapping"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HeaderMapping">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="FieldMapping"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FieldMapping">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Field"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Field">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Name"/>
        <xs:element ref="Extractor"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Extractor">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ExtractorId"/>
        <xs:element ref="ExtractorData"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtractorId" type="xs:string"/>
  <xs:element name="ExtractorData" type="TRD_EXTRACTOR"/>
  <xs:element name="Conditions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="RDS_CONDSHORT"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScenarioConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Parameters"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Parameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Parameter"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Parameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="UseGlobal"/>
        <xs:element ref="Name"/>
        <xs:element ref="Value"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UseGlobal" type="xs:boolean"/>
  <xs:element name="ValidationMode" type="xs:integer"/>
  <xs:element name="VirusScanMode" type="xs:NCName"/>
  <xs:element name="AllInOneAttributes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="AdapterTypeData"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdapterTypeData">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Attribute"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Attribute">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Name"/>
        <xs:element ref="Namespace"/>
        <xs:element ref="Value"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Namespace">
    <xs:complexType/>
  </xs:element>
  <xs:element name="Name" type="xs:NMTOKEN"/>
  <xs:element name="ReceiverId" type="xs:string"/>
  <xs:complexType name="TRD_EXTRACTOR">
    <xs:sequence>
      <xs:element ref="TRD_EXTRACTOR"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TRD_EXTRACTOR">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="EXTRACTORID"/>
        <xs:element ref="TYPE"/>
        <xs:element ref="VALUE"/>
        <xs:element ref="DATATYPE"/>
        <xs:element ref="MULTLINE"/>
        <xs:element ref="COBJNS"/>
        <xs:element ref="COBJNAME"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EXTRACTORID" type="xs:string"/>
  <xs:element name="TYPE" type="TRD_EXTRACTOR_TYPEENUM"/>
  <xs:element name="VALUE" type="xs:anyURI"/>
  <xs:element name="DATATYPE" type="xs:NMTOKEN"/>
  <xs:element name="MULTLINE" type="xs:string"/>
  <xs:element name="COBJNS" type="xs:anyURI"/>
  <xs:element name="COBJNAME" type="xs:string"/>
  <xs:element name="ReceiverConnectivityId" type="xs:string"/>
  <xs:element name="RDS_CONDSHORT">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CONDITIONID"/>
        <xs:element maxOccurs="unbounded" ref="CONDLINE"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CONDITIONID" type="xs:string"/>
  <xs:element name="CONDLINE">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="COMPGROUP"/>
        <xs:element ref="COUNTER"/>
        <xs:element ref="COMPOP"/>
        <xs:element ref="LEXTRACTOR"/>
        <xs:element ref="REXTRACTOR"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="COMPGROUP" type="xs:integer"/>
  <xs:element name="COUNTER" type="xs:integer"/>
<xs:element name="COMPOP" type="CONDLINE_COMPOP_ENUM"/>
  <xs:element name="LEXTRACTOR" type="TRD_EXTRACTOR"/>
  <xs:element name="REXTRACTOR" type="TRD_EXTRACTOR"/>
  <xs:element name="Value">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:anyURI">
          <xs:attribute name="isTable" type="xs:boolean"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>


<xs:simpleType name="TRD_EXTRACTOR_TYPEENUM">
    <xs:restriction base="xs:string">
        <xs:enumeration value="KO"/>
        <xs:enumeration value="XP"/>
        <xs:enumeration value="CT"/>
    </xs:restriction>
</xs:simpleType>

<xs:simpleType name="CONDLINE_COMPOP_ENUM">
    <xs:restriction base="xs:string">
        <xs:enumeration value="EX"/>
        <xs:enumeration value="EQ"/>
        <xs:enumeration value="NE"/>
        <xs:enumeration value="CP"/>
    </xs:restriction>
</xs:simpleType>

</xs:schema>
